
## <summary>policy for lood</summary>


########################################
## <summary>
##	Transition to lood.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lood_domtrans',`
	gen_require(`
		type lood_t, lood_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lood_exec_t, lood_t)
')


########################################
## <summary>
##	Execute lood server in the lood domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lood_initrc_domtrans',`
	gen_require(`
		type lood_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, lood_initrc_exec_t)
')


########################################
## <summary>
##	Search lood lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lood_search_lib',`
	gen_require(`
		type lood_var_lib_t;
	')

	allow $1 lood_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read lood lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lood_read_lib_files',`
	gen_require(`
		type lood_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, lood_var_lib_t, lood_var_lib_t)
')

########################################
## <summary>
##	Manage lood lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lood_manage_lib_files',`
	gen_require(`
		type lood_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, lood_var_lib_t, lood_var_lib_t)
')

########################################
## <summary>
##	Manage lood lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lood_manage_lib_dirs',`
	gen_require(`
		type lood_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, lood_var_lib_t, lood_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a lood environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`lood_admin',`
	gen_require(`
		type lood_t;
		type lood_initrc_exec_t;
		type lood_var_lib_t;
	')

	allow $1 lood_t:process { ptrace signal_perms };
	ps_process_pattern($1, lood_t)

	lood_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 lood_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, lood_var_lib_t)

')

